<div class="container-fluid">
  <form [formGroup]="formulario">
    <div class="row">
      <div class="col-6">Fecha: {{ fechaHoy | date: "dd/MM/yyyy" }}</div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="codigo" class="form-label">Proveedor</label>
        <select
          class="form-select selectpicker"
          data-show-subtext="true"
          data-live-search="true"
          id="proveedor"
          name="proveedor"
          formControlName="proveedor"
        >
          <option
            *ngFor="let proveedor of proveedores"
            [ngValue]="proveedor.idProveedor"
          >
            {{ proveedor.nombreProveedor }}
          </option>
        </select>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-4">
        <label for="codigo" class="form-label">Código</label>
        <select
          class="form-select"
          size="12"
          aria-label="size 3 select example"
          name="articulo"
          formControlName="articulo"
        >
          <option
            *ngFor="let articulo of articulos"
            [ngValue]="articulo.idArticulo"
          >
            {{ articulo.nombreArticulo }} | ${{ articulo.precioUnitario }}
          </option>
        </select>
      </div>

      <div class="col-8 align-self-start">
        <div class="row">
          <div class="col-2">
            <label for="cantidad" class="form-label">Cantidad</label>
            <input
              required
              type="number"
              class="form-control"
              id="cantidad"
              name="cantidad"
              formControlName="cantidad"
            />
          </div>
          <div class="col align-self-end">
            <a class="btn btn-primary btn-md" role="button" (click)="agregar()">Agregar</a>
          </div>
        </div>
        <div class="row mt-2">
          <div class="table-responsive">
            <table class="table table-primary table-sm table-responsive table-hover table-striped">
              <thead>
                <tr>
                  <th scope="col">Artículo</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Precio Unitario</th>
                  <th scope="col">Quitar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let detalle of detallesListado">                  
                  <td>{{detalle.nombreArticulo}}</td>
                  <td>{{detalle.cantidadcomprada}}</td>
                  <td>{{detalle.precioCompra}}</td>
                  <td style="cursor: pointer;" (click)="quitar(detalle.idArticulo)">❌</td>                
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-auto">
        <a class="btn btn-primary btn-lg" role="button" (click)="enviarLote()"
          >Enviar lote</a
        >
      </div>
    </div>
  </form>

  <!-- <form #form="ngForm">





      <div class="mb-3">
        <label for="codigo" class="form-label">Código</label>
        <input required type="number" class="form-control" id="codigo" name="codigo" >
      </div>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input required type="text" class="form-control" id="nombre" name="nombre" >
      </div>
      <div class="mb-3">
        <label for="telefono" class="form-label">Telefono</label>
        <input type="number" class="form-control" id="telefono" name="telefono" >
      </div>
      <div class="mb-3">
        <label for="saldo" class="form-label">Saldo Deudor</label>
        <input type="number" class="form-control" id="saldo" name="saldo" >
      </div>
      <div class="mb-3">
        <label for="limite" class="form-label">Límite</label>
        <input type="number" class="form-control" id="limite" name="limite" >
      </div>
      <div class="mb-3">
        <label for="despacho" class="form-label">Despacho</label>
        <select class="form-select" aria-label="Default select example" id="despacho" name="despacho" [(ngModel)]="cliente.despacho"> -->
  <!-- <option *ngFor="let despacho of despachos" [ngValue]="despacho.id">{{despacho.nombre}}</option>
        </select>     -->
  <!-- </div>
      <button type="submit" class="btn btn-primary" >Aceptar</button> &nbsp;
      <button type="button" class="btn btn-primary" >Cancelar</button>
    </form> -->
</div>
