<nav class="navbar navbar-expand-lg bg-light" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbarNav" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Lote
          </a>
          <ul class="dropdown-menu active">
            <li><a class="dropdown-item" href="#" routerLink="alta">Nuevo</a></li>
            <li><a class="dropdown-item" href="#" routerLink="listado">Ver</a></li>            
          </ul>
        </li>
        <li       class="nav-item">
          <a class="nav-link active text-dark" routerLink="reporte">Reportes</a>
        </li>
      </ul>   
      <div class="collapse navbar-collapse justify-content-end navbarNav">
        <ul class="navbar-nav">
          <li *ngIf="isLoggedIn" class="nav-item dropdown mr-3">
            <a class="nav-link text-dark">
               Bienvenid@ {{usuario.usuario}}
            </a>
          </li>
          <li *ngIf="isLoggedIn" class="nav-item">
            <a style="cursor: pointer" class="nav-link text-dark" (click)="logout()">Salir</a>
          </li>        
        </ul>
      </div>                       
    </div>

  </div>
</nav>

<div class="container-fluid p-0" id="fondo">
  <router-outlet></router-outlet>    
  </div>
  

