<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Nuevo Lote</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Ver Lote</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Lote
          </a>
          <ul class="dropdown-menu active">
            <li><a class="dropdown-item" href="#">Nuevo</a></li>
            <li><a class="dropdown-item" href="#">Ver</a></li>

            
          </ul>
        </li>
      </ul>                          
    </div>
    <div class="collapse navbar-collapse justify-content-end navbarNav">
      <ul class="navbar-nav">
        <li *ngIf="" class="nav-item dropdown mr-3">
          <a class="nav-link text-dark">
             Bienvenid@ 
          </a>
        </li>
        <li *ngIf="" class="nav-item">
          <a style="cursor: pointer" class="nav-link text-dark" (click)="logout()">Salir</a>
        </li>        
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid p-0" id="fondo">
    <app-inicio-sesion></app-inicio-sesion>    
  </div>
  <router-outlet></router-outlet>

